html
  head
    title Find A Budde
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    //jQuery library for Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    div(class="jumbotron")
      p Are you sure you want to delete your profile?
      p This action is permanent!
      form(id="delete-form", action="/profile/deleteProfile/", method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="submit", value="DELETE PROFILE")




    script(src="/lib/validateFindBudde.js")
    script(src="/lib/geocode.js")
