html
  head
    title Success
  body
    h1 Buddes Near You
    ul
      each user in results
        li
          a(href="/profile/view/"+user.user_id) #{user.firstname} #{user.lastname}
        if user.distance == 0
          p  Less than 1 km away
        else 
          p #{user.distance} km away 

