html
  head
    title Success
  body
    h1 Buddes Near You
    -var prevPage = Number(query.page) -1
    -var nextPage = Number(query.page) + 1
    if prevPage > 0
      a(href="/findbudde/submit/results/?lat=" + query.lat + "&lng=" + query.lng + "&range=" + query.range + "&page=" + prevPage) Previous Page
      br
    //If there are 10 results, there *should* be more users
    if results.length == 10
      a(href="/findbudde/submit/results/?lat=" + query.lat + "&lng=" + query.lng + "&range=" + query.range + "&page=" + nextPage) Next Page
    ul
      each user in results
        li
          a(href="/profile/view/"+user.user_id) #{user.firstname} #{user.lastname}
        if user.distance == 0
          p  Less than 1 km away
        else 
          p #{user.distance} km away 
