doctype html
html(lang="en")
  head
    title Find a Budde
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    
  
  body
    .container-fluid
      .jumbotron
        h1 Enter Info to Find A Budde!
    .container-fluid
      form(id="budde-form", name="budde-form", method="post", action="/findBudde/submit")
        input(class="form-control", type="hidden", name="_csrf", value=csrfToken)
        p First Name
        input(class="form-control", name="firstName", type="text", placeholder="John", pattern="[A-Za-z]+")
        p Last Name
        input(class="form-control", name="lastName", type="text", placeholder="Doe", pattern="[A-Za-z]+") 
        p Area Code
        input(class="form-control", name="areaCode", type="text", pattern="[0-9]{5}") 
        div(id="exercises") 
          p Check The Exercises You Enjoy
        p Type in the exercises you like here
        textarea(class="form-control", name="exerciseBrief", form="budde-form")
        br
        input(type="submit", value="Find a Budde!")

    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    //Javascript for Bootstrap
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="lib/main.js")
