html
  head
    title Find A Budde
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    .container-fluid
      h1 Enter In Your Location To Find A Budde Near You!
      if error
        p=error
      form(id="find-budde-form", name="find-budde-form", method="POST", action="/findBudde/submit", onsubmit="return validateForm()")
        input(id="latitude", name="latitude", type="hidden")
        input(id="longitude", name="longitude", type="hidden")
        input(name="_csrf", type="hidden", value=csrfToken)
        p Street
        input(id="street", class="form-control", name="street", type="text", onchange="geocodeAddress()", required)
        br
        p City
        input(id="city", class="form-control", name="city", type="text", onchange="geocodeAddress()", required)
        p State 
        input(id="state", class="form-control", name="state", type="text", onchange="geocodeAddress()", required)
        br
        p Zip Code
        input(id="zip_code", class="form-control", name="zip_code", type="text", pattern="[0-9]+", onchange="geocodeAddress()", required)
        div(id="geocodePrompt")
          div(class="alert alert-info") Enter Address Information To See If Address Is Valid
        p Within What Kilometer Range?
        select(id="select_range")
          option(value="5") 5 
          option(value="10") 10
          option(value="15") 15
          option(value="20") 20
          option(value="25") 25
          option(value="30") 30
          option(value="50") 50
          option(value="75") 75
        input(id="input_range", name="range", type="hidden")
        div(id="validationError")
        br
        input(id="submit", type="submit", value="Find A Budde!")
    //jQuery library for Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/lib/validateFindBudde.js")
    script(src="/lib/geocode.js")
