doctype html
html(lang="en")
	head
		title WorkoutBudde Homepage
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		link(href="/css/style.css", rel="stylesheet")
	body
		h1 Welcome to WorkoutBudde
		a(href="/findBudde/") Click Here
		|		to find a Budde! 
