doctype html
html(lang="en")
  head
    title WorkoutBudde Homepage
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    //Javascript for Bootstrap
  body
    h1 Welcome to WorkoutBudde
    a(href="/findBudde/") Click Here
    |   to find a Budde! 
