doctype html
html(lang="en")
	head
		title=WorkoutBudde
	body
		h1 Welcome to WorkoutBudde
		p.
			Testing the usage of Pug/Jade
		form(id="budde-form", name="budde-form", method="post", action="/budde/")
			p First Name
			input(name="firstName", type="text", placeholder="John")
			p Last Name
			input(name="lastName", type="text", placeholder="Doe") 
			p Area Code
			input(name="areaCode", type="text") 
			p Type in the exercises you like here
			textarea(name="exerciseBrief", form="budde-form", rows=4, cols=50)
			br
			input(type="submit", value="Find a Budde!")

