doctype html
html(lang="en")
  head
    title WorkoutBudde Homepage
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
  body
    .container-fluid 
      .jumbotron
        h1 Welcome to WorkoutBudde
        a(href="/findBudde") Click Here
        |   to find a Budde! 
    a(href="/login") Login


    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
