doctype html
html(lang="en")
  head
    title WorkoutBudde Homepage
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    //jQuery library for Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  body
    .container-fluid 
      .jumbotron
        h1 Welcome to WorkoutBudde
        a(href="/findBudde") Click Here
        |   to find a Budde! 
      if(loggedIn)
        a(href="/logout") Logout
        br
        a(href="/profile/view/"+user_id) Profile
      else
        a(href="/login") Login
        br
        a(href="/newuser") Create New Profile
      


