html
  head
    title WorkoutBudde Login
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    div(id="login_wrapper", class="center-align")
      h1 Sign In
      if error
        p=error
      form(id="login-form", name="login-form", method="POST", action="/login")
        input(name="_csrf", type="hidden", value=csrfToken)
        div(class="center")
          p Username:
          input(name="username", type="text")
        div(class="center")
         p Password:
         input(name="password", type="password")
        br
        input(type="submit", value="Login")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
