h1 {
	margin: auto;
	text-align: center;
}

.time_box {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 0px 5px 0px;
}

#first-last-name{
  font-size: 4em;
}


#availability table{
  margin: 10px 10px 10px 10px;
  width:100%;
}



