h1 {
	margin: auto;
	text-align: center;
}

.center-align{
  width:100%;
  margin: auto;
}

#login_wrapper{
  width:50%;
  text-align: center;
}

#login_wrapper .center p,input{
margin:auto auto;
}

.time_box {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 0px 5px 0px;
}

#first-last-name{
  font-size: 4em;
}


#availability table{
  margin: 10px 10px 10px 10px;
  width:100%;
}



