h1 {
	margin: auto;
	text-align: center;
}


nav {
  background-color:#92A6AD;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li {
  padding: 0px 1% 0px 1%;
  margin: 0 1% 0 1%;
}

nav ul li a{
color: #ffffff;
}


.center-align{
  width:100%;
  margin: auto;
}

#login_wrapper{
  width:50%;
  text-align: center;
}

#login_wrapper .center p,input{
margin:auto auto;
}

.time_box {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 0px 5px 0px;
}

#first-last-name{
  font-size: 4em;
}


#availability table{
  margin: 10px 10px 10px 10px;
  width:100%;
}



